/hub/bin/
/hub/cmake-build-*
/client/bin/
/client/.idea
/hub/.idea
/client/include/spectranet
/client/libs/
*.o
*_p.asm
*_np.asm
*.lib
*.pyc
deployment.xml
/hub/channels/build/
/hub/venv
/hub/channels/*.egg-info
/hub/channels/dist
.idea
